<<<<<<< HEAD
header {
  background-color: blue;
  color: #fff;
}

figure { 
  background-color: black;
}

img {
  border: 8px solid gold;
}

figcaption {
  color: #fff;
  text-align: center;
  font-size: xx-large;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
=======
header {
  background-color: blue;
  color: #fff;
}

figure { 
  background-color: black;
}

img {
  border: 8px solid aqua;
}

figcaption {
  color: #fff;
  text-align: center;
  font-size: xx-large;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
>>>>>>> e51791b150161c35d0109a2c329122aed2db395b
}