* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
    color: #F2F1DF;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 980px) {
  html {
    font-size: 40%;
    color:blue;
  }
}

#navbar {
  width: 100%;
  position: fixed;
  background-color: #7829da;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  color: #f0f0f0;
  padding: 1.5rem;
  font-size: xx-large;
}

.nav-list a:hover {
  background-color: #9a4bfc;
}

a {
  text-decoration: none;
}

#welcome-section {
  background: linear-gradient(to top, black, 30%, cyan);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  background-color: cadetblue;
}

#projects h3 {
  font-size: 3rem;
  color: #555555;
}

.projects-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tile {
  margin: 2rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: #dea5a4;
  font-size: 2rem;
}

#contact h1, h4 {
  padding-bottom: 2rem;
  color: #9a4bfc;
}

#contact div {
  display: flex;
  justify-content: center;
}

#contact div a {
  padding: 2rem;
  color:#F2F1DF;
  text-shadow: 4px 4px 4px #1f1f1f;
  transition: transform 0.3s linear;
}

#contact div a:hover {
  transform: translateY(8px);
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: x-large;
}
