* {
 box-sizing: border-box;
 margin: 0;
}
:root {
 --main-blue: #3a677a;
 --main-grey: #1d1d1f;
 --light-yellow: #f2cf63;
 --dark-yellow: #c59c4f;
 --light-grey: #f2f2f2;
 --main-brown: #0e0500;
--dark-green: #164929;
--light-green: #2b8b50;
--light-grey: #f2f7f7;
--light-pink: #eed9ea;
}

html {
 font-size: 62.5%;
 scroll-behavior: smooth;
}
body {
 font-family: basic-sans, sans-serif;
 font-weight: 400;
 background-color: var(--light-grey);
}

@media (max-width: 1200px) {
 html{
  font-size: 60%
 }
}

/*Navigation*/

#navbar {
 width: 100%;
 background-color: var(--main-brown);
 position: fixed;
 z-index: 2;
}

.nav-list {
 display: flex;
 justify-content: flex-end;
 list-style-type: none;
 margin-right: 1rem;
}



.nav-list a {
 display: block;
 color: #f0f0f0;
 padding: 2rem;
 font-size: 2vw;
}
@media (max-width: 428px) {
 .nav-list a {
  font-size: 7vw;
 }
}

.nav-list a:hover {
 background-color: var(--light-green);
}

a {
 text-decoration: none;
}
/*Welcome Section*/

#welcome-section {
 background: linear-gradient(var(--light-pink) 50%,#ffffff);
 height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#welcome-section h1 {
 font-size: 6vw;
 text-align: center;
 text-shadow: 2px 2px 1px #ffffff;
}
#welcome-section p {
 font-size: 2vw;
 text-align: center;
}
#welcome-section i {
 color: var(--dark-green);
 padding-top: 3rem;
 font-size: 5rem;
 transition: transform 0.3s ease-out;
}

#welcome-section i:hover {
 transform: translateY(25px);
 color:#2b8b50;
 cursor:default;
}
/*Project*/

.grid {
 display: grid;
 grid-template-columns: .5fr 4fr .5fr;
 grid-template-rows: .3fr 3fr .3fr;
}


.transparentdiv {
 width: 100%;
 height: 100%;
 background-color: var(--light-grey);
}

#project-header {
 grid-column: 2 / 3;
 grid-row: 1 / 2;
 color: white;
 font-size: 7.5rem;
 padding-top: 8rem;
 padding-bottom: 8rem;
 text-shadow: 2px 2px 1px #1f1f1f;
 text-align: center;
 z-index: 1;
}
 @media (max-width: 1018px) {
  #project-header {
   padding-top: 9rem;
   padding-bottom: 0;
  }

 }
#projects-div {
 display:flex;
 justify-content: center;
 grid-column: 2 / 3;
 grid-row: 1 / 3;
 background-color: var(--light-green);
 box-shadow: 5px 5px 10px black;
}

#projects-grid {
 max-width: 1200px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 14rem;
 padding-bottom: 14rem;
}

.project-tile {
 margin: 2rem 2rem 10rem 2rem;
 max-height: 30rem;
}

figure {
 padding-bottom: 4rem;
 height: 300px;
 border-radius: 20px;
}

figure img {
    border-radius: 20px;
}

figure img:hover {
    box-shadow: 2px 2px 5px black;
}

figcaption {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 190%;
 color: white;
 background: rgb(255,255,255);
 background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 14%, rgba(0,0,0,1) 76%);
 width: 100%;
 height: 10vh;
 position: relative;
 top: 26rem;
 z-index: 1;
 padding-bottom: 1rem;
}

/* figure:hover {
    box-shadow: 5px 5px 10px black;
} */

figcaption i {
 padding-right: 1rem;
}

figcaption i:hover {
    transform: rotate(30deg);
}
/*Contacts*/

#contact {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 60vh;
 background-color:  white;
}

#contact h2 {
 font-size: 400%;
 padding-bottom: 2rem;
}
#contact p {
 font-size: 2rem;
 padding-bottom: 1.7rem;
}
#contact div {
 display: flex;
 justify-content: center;
 padding-bottom: 20vh;
}

#contact div a {
 color: var(--main-brown);
 padding: 2rem;
 font-size: 1.5rem;
 text-shadow: 2px 2px 1px #ffffff;
 transition: transform 0.3s ease-out;
}

#contact div a:hover{
 transform: translateY(8px);
 color: var(--light-green);
}

#contact i {
 padding-right: .7rem;
 font-size: 3rem;
 position: relative;
 top: .5rem;
}

footer {
 text-align: center;
 font-size: 1.5rem;
 color: white;
 background-color: var(--main-grey);
 padding: 1rem 0;
}