* {
  margin: 0;
  box-sizing: border-box;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/special/spe-5/spe440.cur), auto !important;} /* End https://www.cursors-4u.com */
:root {
  --main-blue: #ff0000;
  --main-grey: #1d1d1f;
  --light-yellow: #f2cf63;
  --dark-yellow: #c59c4f;
  --light-grey: #f2f2f2;
  --main-brown: #0e0500;
  --dark-green: #164929;
  --light-green: #578067;
  --light-grey: #f2f7f7;
  --light-pink: #eed9ea;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  background: white;
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

/* Navigation */

#navbar {
  width: 100%;
  background-color: var(--main-brown);
  position: fixed;
  z-index: 2;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  color: #f0f0f0;
  padding: 2rem;
  font-size: 2vw;
}
@media (max-width: 428px) {
  .nav-list a {
    font-size: 7vw;
  }
}

.nav-list a:hover {
  background-color: var(--main-blue);
}

a {
  text-decoration: none;
}

/* header */

header {
  height: 20vh;
  padding-top: 20vh;
  background: rgb(255,255,255);
  text-align: center;
  font-size: 3rem;
}

header h1 {
  color: red;
  font-size: 200%;
  font-weight: 700;
}

header button {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 50%;
  color: white;
  background-color: black;
  border-style: none;
  font-size: 2rem;
}

button:hover {
  box-shadow: 0px 6px 5px red;
}


/* Magic of the Gathering  */
.mtgGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  background-image: url(https://us.123rf.com/450wm/cattallina/cattallina1305/cattallina130500011/19621000-yellow-staring-cat-eyes-vector-illustration.jpg?ver=6);
  background-size: 40vw;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 35vh;
  margin-bottom: 10vh;
}
main {
 min-height: 80vh;
}
.scene {
  width: 200px;
  height: 279px;
  margin: 0.5em;
  perspective: 600px;
  margin: 2rem;
  border-radius: 10px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.cardFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* making sure you don't see the back of the card when the card is flippling*/
  border-radius: 10px;
}

.card.is-flipped {
  transform: rotateY(
    180deg
  ); /* toggling whether this property is showing hook up a button to make the transform happen,  have to apply class */
 transition-timing-function: ease-out;
  border-radius: 10px;
}

.front {
  background: red;
}

.back {
  background-image: url(/images/marble.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotateY(180deg);
}

figure img {
  width: 200px; /*keeps image inside*/
  border-radius: 10px;
}

figure {
    border-radius: 10px;
}

/* New Cat Card */

.newDiv {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 12px solid black;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
  padding: 1rem;
  color: black;
}
.newType {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: 10px 10px 0px 0;
  color: black;
}

.newDiv h2 {
  background-color: white;
  padding: .5rem;
  font-size: 1.25rem;
}
.newDiv ul {
  background-color: white;
  padding: .5rem;
  height: 60px;
}
.newImg {
  width: 100%;
  border: 5px solid white;
}

.newList {
  list-style: none;
}

.newLevel {
  background-color: white;
  position: relative;
  left: 136px;
  bottom: 20px;
  border: 3px solid rgb(85, 85, 85);
  width: fit-content;
  border-radius: 2px;
  padding: 3px;
}















/* Footer  */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: var(--main-blue);
}

#contact h2 {
  font-size: 4vw;
  padding-bottom: 2rem;
  color: white;
}
#contact p {
  font-size: 2rem;
  padding-bottom: 1.7rem;
  color: white;
}
#contact div {
  display: flex;
  justify-content: center;
}

#contact div a {
  color: white;
  padding: 2rem;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px var(--main-grey);
  transition: transform 0.3s ease-out;
}

#contact div a:hover {
  transform: translateY(8px);
}

#contact i {
  padding-right: 0.7rem;
  font-size: 3rem;
  position: relative;
  top: 0.5rem;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: var(--main-brown);
  padding: 1rem 0;
}

