* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-blue: #3a677a;
  --main-grey: #1d1d1f;
  --light-yellow: #f2cf63;
  --dark-yellow: #c59c4f;
  --light-grey: #f2f2f2;
  --main-brown: #0e0500;
  --dark-green: #164929;
  --light-green: #578067;
  --light-grey: #f2f7f7;
  --light-pink: #eed9ea;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 23%,
    rgba(255, 0, 0, 1) 59%
  );
}

@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

/* Navigation */

#navbar {
  width: 100%;
  background-color: var(--main-brown);
  position: fixed;
  z-index: 2;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  color: #f0f0f0;
  padding: 2rem;
  font-size: 2vw;
}
@media (max-width: 428px) {
  .nav-list a {
    font-size: 7vw;
  }
}

.nav-list a:hover {
  background-color: var(--main-blue);
}

a {
  text-decoration: none;
}


/* Magic of the Gathering  */
.mtgGrid {
  display: flex;
  flex-wrap: wrap;
}

.scene {
  width: 200px;
  height: 260px;
  margin: 0.5em;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.cardFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* making sure you don't see the back of the card when the card is flippling*/
  border-radius: 10px;
}

.card.is-flipped {
  transform: rotateY(
    180deg
  ); /* toggling whether this property is showing hook up a button to make the transform happen,  have to apply class */
 transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); 
}

.front {
  background: magenta;
}

.back {
  background: mediumseagreen;
  transform: rotateY(180deg);
}

figure img {
  width: 200px; /*keeps image inside*/
  border-radius: 10px;
}

figure {
    border-radius: 10px;
}
/* Footer  */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: var(--main-blue);
}

#contact h2 {
  font-size: 4vw;
  padding-bottom: 2rem;
}
#contact p {
  font-size: 2rem;
  padding-bottom: 1.7rem;
}
#contact div {
  display: flex;
  justify-content: center;
}

#contact div a {
  color: var(--light-yellow);
  padding: 2rem;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px var(--main-grey);
  transition: transform 0.3s ease-out;
}

#contact div a:hover {
  transform: translateY(8px);
}

#contact i {
  padding-right: 0.7rem;
  font-size: 3rem;
  position: relative;
  top: 0.5rem;
}

footer {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: var(--main-grey);
  padding: 1rem 0;
}

.newDiv {
  border: 12px solid black;
  border-radius: 10px;
  background-color: rgb(211, 211, 211);
}