* {
  box-sizing: border-box;
  margin: 0;
}
 :root {
  --main-blue: #3a677a;
  --main-grey: #1d1d1f;
  --light-yellow: #f2cf63;
  --dark-yellow: #c59c4f;
  --light-grey: #f2f2f2;
  --main-brown: #0e0500;
 --dark-green: #164929;
 --light-green: #578067;
 --light-grey: #f2f7f7;
 --light-pink: #eed9ea;
}
 /* Fonts to use 
 font-family: basic-sans, sans-serif;
 font-weight: 200(extralight), 400(regular), 700(bold), 900(black);
 font-style: italic, normal;
 */
 /* Colors to use
 --main-brown: #140800;
 --dark-green: #18522C;
 --light-green: #578067;
 --light-grey: #f2f7f7;
 --light-pink: #ebd2e6;
 */
 html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
 body {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  background-color: var(--main-grey);
}
 
 @media (max-width: 1200px) {
  html{
   font-size: 60%
  }
}

.EverythingContainer {
  background-color: var(--main-grey);
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 80vh 20vh;
  grid-template-areas:
  "Title Characters"
  "buttons main"
}


main {
  justify-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 0 4vw;
  margin: 12rem 0 6rem 0;
  overflow-y: scroll;
  white-space: nowrap;
 
}
main::-webkit-scrollbar {
  background: black;
  border-radius: 100px;
  width: 10px;
  box-shadow: 2px 2px 2px inset rgb(27, 27, 27);
 
}
main::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #ff0000 0%, #0044ff 99%);
  border-radius: 100px;
}
 
h1 {
  grid-area: Title;
  font-size: 10vh;
  padding: 16vw 2vw 0 2vw;
  color: var(--light-yellow);
  text-shadow: 0px 6px 8px black;
  text-align: center;
}

header {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 10vh;
}

button {
  font-family: basic-sans;
  font-size: medium;
  font-weight: 900;
  padding: 1rem;
  background-color: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 40px;
  height: 8rem;
  width: 50%;
}

button:hover {
  background-image: linear-gradient(180deg, #ff0000 0%, #0044ff 99%);
}


figure {
  margin: 8px;
}

figure img {
  border-radius: 10px;
  width: 0 auto;
}

figcaption {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  bottom: 60px;
}
/* Navigation */
#navbar {
  width: 100%;
  background-color: var(--main-brown);
  position: fixed;
  z-index: 2;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-right: 1rem;
}

.nav-list a {
  display: block;
  color: #f0f0f0;
  padding: 2rem;
  font-size: 2vw;
}

 @media (max-width: 428px) {
  .nav-list a {
   font-size: 7vw;
  }
}
 
.nav-list a:hover {
  background-color: var(--main-blue);
}
 
a {
  text-decoration: none;
}

/* Footer Styles */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: var(--light-yellow);
}
 
#contact h2 {
  font-size: 4vw;
  padding-bottom: 2rem;
}
#contact p {
  font-size: 2rem;
  padding-bottom: 1.7rem;
}
#contact div {
  display: flex;
  justify-content: center;
}
 
#contact div a {
  color: var(--main-brown);
  padding: 2rem;
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #ffffff;
  transition: transform 0.3s ease-out;
}
 
#contact div a:hover{
  transform: translateY(8px);
}
 
#contact i {
  padding-right: .7rem;
  font-size: 3rem;
  position: relative;
  top: .5rem;
}
 
footer {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: var(--main-blue);
  padding: 1rem 0;
}