* {
    margin: 0;
    box-sizing: border-box;
  }
  :root {
    --main-blue: #3a677a;
    --main-grey: #1d1d1f;
    --light-yellow: #f2cf63;
    --dark-yellow: #c59c4f;
    --light-grey: #f2f2f2;
    --main-brown: #0e0500;
   --dark-green: #164929;
   --light-green: #578067;
   --light-grey: #f2f7f7;
   --light-pink: #eed9ea;
   --congress-red: #260101;
   --congress-blue: #1D3159;
   --congress-white: #e7feff;
   --congress-tan: #8C7B65;
   --building-color: #385366;
  }
   html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
   body {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    background: rgb(29,49,89);
background: linear-gradient(0deg, rgba(29,49,89,1) 0%, rgba(231,254,255,1) 100%);
  }
   
   @media (max-width: 1200px) {
    html{
     font-size: 60%
    }
  }
  
  /*navigation*/
  
#navbar {
    width: 100%;
    background-color: var(--main-brown);
    position: fixed;
    z-index: 2;
  }
  
   .nav-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-right: 1rem;
  }
  
   .nav-list a {
    display: block;
    color: #f0f0f0;
    padding: 2rem;
    font-size: 2vw;
  }
   @media (max-width: 428px) {
    .nav-list a {
     font-size: 7vw;
    }
  }
   
   .nav-list a:hover {
    background-color: var(--main-blue);
  }
   
   a {
    text-decoration: none;
  }

 /* HEADER */
.titleBox {
  background-image: url(/images/congressdomepng.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  padding-top: 10vh;
}


  h1 {
    font-size: 10vh;
    padding: 10vw 6vw 0 2vw;
    color: var(--light-yellow);
    text-align: center;
  }

  .members {
    display: flex;
    height: 400px;
    overflow-y: scroll;
    white-space: nowrap;
    position: relative;
    bottom: 320px;
  }
  
  figure {
   
    margin: 1em;
  }
  
  figcaption {
    text-align: center;
    text-overflow: 
  }